extends layout

block content
  .row.justify-content-center
    .col-md-4
      h2.text-center Login

      if error
        .alert.alert-danger= error

      form(action="/auth/login" method="post")
        .mb-3
          label(for="email") Email
          input#email.form-control(type="email" name="email" required)
        .mb-3
          label(for="password") Password
          input#password.form-control(type="password" name="password" required)
        button.btn.btn-primary.w-100(type="submit") Login

      hr

      p.text-center Or login using:
      a.btn.btn-danger.w-100.mb-2(href="/auth/google") Google
      a.btn.btn-dark.w-100(href="/auth/apple") Apple

      hr

      p.text-center Don't have an account? 
        a(href="/auth/signup") Sign up
